@charset "UTF-8";

:root {
    --header-height: 60px;
}

/* MOBILE PHONE */
@media only screen and (max-width: 600px) {
    .body-container {
        width: 100vw;
        height: 100vh;
    }

    /* header */
    header {
        position: fixed;
        bottom: 0;
        box-shadow: 0 -1px 1px rgba(0, 0, 0, 0.4);
        background-image: url(../images/logo.png);
        background-size: 150px;
        background-repeat: no-repeat;
        background-position: 50%;
    }

    /* header > menu */
    .menu-item>a {
        letter-spacing: 3px;
    }

    /* logo */
    .logo {
        display: none;
    }

    /* sandwich menu */
    .menu-button-container {
        margin: 18px;
        bottom: 0;
    }

    ul {
        bottom: var(--header-height);
    }

    /* footer */
    footer p {
        bottom: var(--header-height);
    }
}

/* TABLET */
@media only screen and (min-width: 600px) {
    .body-container {
        width: 90vw;
        height: 90vh;
        border-radius: 2em;
        box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.5);
        margin: auto;
        transform: translateY(5%);
    }

    /* header */
    header {
        position: absolute;
        border-radius: 2em 2em 0 0;
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
        top: 0;
        box-shadow: 0 -1px 1px rgba(0, 0, 0, 0.4);
    }

    /* sandwich menu */
    .menu-button-container {
        margin: 18px 30px;
        top: 0;
    }

    ul {
        top: var(--header-height);
        list-style-type: none;
    }

    @media only screen and (max-width: 870px) {

    /* header */
        header {
            background-image: url(../images/logo.png);
            background-size: 232px;
            background-repeat: no-repeat;
            background-position: 50%;
        }

        /* BLOG PAGE */
        .blog-container {
            grid-template-columns: repeat(2, 200px);
        }
    }
}

/* DESKTOP */
@media only screen and (min-width: 768px) {

    @media only screen and (min-width: 870px) {

        /* header > menu */
        .menu a {
            letter-spacing: 1px;
            padding: 22px 10px 17px;
        }

        /* BLOG PAGE */
        .blog-container {
            grid-template-columns: repeat(3, 210px);
        }

        @media only screen and (min-width: 1150px) {

            /* header > menu */
            .menu a {
                letter-spacing: 3px;
                padding: 22px 35px 17px;
            }
        }
    }
}