@charset "UTF-8";

:root {
    --header-height: 60px;
}

/* MOBILES */
@media only screen and (max-width: 600px) {

    /* header */
    header {
        position: fixed;
        bottom: 0;
        background-image: url(../images/logo.png);
        background-size: 150px;
        background-repeat: no-repeat;
        background-position: center;
    }

    /* header > menu */
    .menu-item>a {
        letter-spacing: 3px;
    }

    /* logo */
    .logo {
        display: none;
    }

    /* sandwich menu */
    .menu-button-container {
        margin: 18px;
        bottom: 0;
    }

    ul {
        bottom: var(--header-height);
    }

    /* HOME PAGE */
    .intro {
        letter-spacing: 3pt;
        bottom: 0;
        left: 0;
        right: 0;
        margin: 0 auto;
    }

    #profile-picture {
        bottom: 35px;
        left: 0;
        right: 0;
        margin: auto;
    }

    /* FORM PAGE */
    form {
        width: 80vw;
    }

    footer {
        padding-bottom: var(--header-height);
    }
}

/* LARGE MOBILES / PORTRAIT TABLETS */
@media only screen and (min-width: 600px) {

    /* header */
    header {
        background-image: url(../images/logo.png);
        background-repeat: no-repeat;
        background-position: center;
    }

    /* sandwich menu */
    .menu-button-container {
        margin: 18px 30px;
        top: 0;
    }

    ul {
        top: var(--header-height);
        list-style-type: none;
    }

    /* HOME PAGE */
    .intro {
        letter-spacing: 3pt;
        bottom: 0;
        left: 0;
        right: 0;
        margin: 0 auto;
    }

    #profile-picture {
        bottom: 35px;
        left: 0;
        right: 0;
        margin: auto;
    }

    /* BLOG PAGE */
    .blog-container {
        grid-template-columns: repeat(2, 210px);
        gap: 3em;
    }

    /* FORM PAGE */
    form {
        width: 60vw;
        transition: all .4s;
    }
}

/* LANDSCAPE TABLETS */
@media only screen and (min-width: 768px) {

    /* header */
    header {
        background-image: none;
    }

    /* header > menu */
    .menu a {
        letter-spacing: 1px;
        padding: 22px 10px 17px;
        transition: all .4s;
    }

    /* HOME PAGE */
    .intro {
        bottom: 120px;
        left: 0;
        right: auto;
        margin: 0 auto;
    }

    #profile-picture {
        bottom: 0;
        left: auto;
        right: 0;
        margin: auto;
        z-index: -1 !important;
    }

    /* BLOG PAGE */
    .blog-container {
        grid-template-columns: repeat(3, 210px);
    }
}

/* LAPTOPS / DESKTOP */
@media only screen and (min-width: 992px) {

    /* header > menu */
    .menu a {
        letter-spacing: 3px;
        padding: 17px 40px 17px;
    }

    /* BLOG PAGE */
    .blog-container {
        gap: 10em;
    }
}

/* LARGE LAPTOPS / DESKTOPS AND UP */
@media only screen and (min-width: 1200px) {

    /* FORM PAGE */
    form {
        width: 30vw;
        min-width: 30vw;
    }
}