@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

@import 'sandwich-menu-style.css';

:root {
    --background: #325946;
    --header: #382f27;
    --button: #919191;
    --selection: #E3A185;
    --body: #251C19;
}

* {
    color: rgba(255, 255, 255, 0.87);
    margin: 0;
}

/* mouse selection  */
::selection {
    color: white;
    background: var(--selection);
}

/*scrollbar 
::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-thumb {
    background: #999 !important;
    border-radius: 10px;
}*/

/* HOME PAGE */
#body-container {
    background: var(--body);
    font-family: 'Raleway', sans-serif;
    line-height: 1.5em;
    margin: auto;
    border-radius: 2em;
    cursor: default;
    /*overflow-y: scroll;*/
}

.top-nav {
    background-color: var(--header);
    box-shadow: 0px 1px 9px rgba(0, 0, 0, 0.6);
    text-align: right;
}

/* linkedin and github */
.social-media {
    position: absolute;
    top: 0;
    left: 50;
}

.social-media img {
    filter: brightness(0%) invert(87%);
    width: 40px;
    margin: 10px 0 0 20px;
    border-radius: 50%;
    box-sizing: border-box;
    transition-duration: 0.5s;
}

.social-media img:hover {
    background: rgba(255, 255, 255, 0.87);
    filter: brightness(100%);
    border: 2px solid rgba(255, 255, 255, 0.87);
    transform: translate(3px, -3px);
    box-shadow: 7px 7px 5px rgba(0, 0, 0, 0.4);
    transition: transform 0.2s, border 0.3s;
}

/* logo image */
#logo {
    background-image: url('../images/logo.png');
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}

/* home */
h1 {
    font-weight: normal;
    position: absolute;
}

#profile-picture {
    background-image: url('../images/pic-paulo.png');
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}

p {
    padding-top: 8pt;
    padding-bottom: 8pt;
    text-align: justify;
}

blockquote {
    font-size: 14pt;
    font-weight: bold;
    text-align: center;
}

/* about-me modal  */
.modal-container {
    display: none;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.9);
    position: fixed;
    top: 0;
}

.show .modal-content {
    animation: modal .3s
}

.modal-content {
    position: relative;
    margin: auto;
    top: 50%;
    transform: translateY(-50%);
    background: var(--body);
    min-width: 300px;
    padding: 40px;
    border: 10px solid black;
    box-shadow: 0 0 0 10px rgb(114, 51, 0);
}

@keyframes modal {
    from {
        opacity: 0;
        transform: translate3d(0, -60px, 0);
    }

    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

#close {
    position: absolute;
    font-size: 1.2em;
    top: -30px;
    right: -30px;
    width: 50px;
    height: 50px;
    letter-spacing: 0;
    padding: 0;
    border-radius: 50%;
    border: 4px solid white;
    background: rgb(114, 51, 0);
    color: white;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, .3);
}

h2 {
    font-weight: bold;
    text-align: center;
    margin: auto;
    max-width: 530px;
}

h3 {
    background: var(--header);
    font-size: 16pt;
    text-align: center;
    width: 200px;
    margin: auto;
    border: 1px solid black;
    border-radius: 20% 20% 90% 90%;
    cursor: pointer;
}

h3:hover {
    transform: translate(3px, -3px);
    box-shadow: 0 5px 7px black;
}

footer p {
    background-color: var(--header);
    padding: 5px;
    text-align: center;
    border-radius: 2em 2em 0 0;
    position: absolute;
    left: 0;
    right: 0;
}

/*OTHER PAGES 
#portfolio-container,
#blog-container,
#contact-container {
    padding: 1em;
}

p.title {
    font-size: 30pt;
    font-weight: bold;
    position: relative;
    text-align: center;
}

 PORTFOLIO PAGE 

 BLOG PAGE 
#blog-container {
    display: flex;
    justify-content: space-around;
}

.blog {
    background-size: cover;
    border: 1px solid var(--header);
    border-radius: 15px;
    overflow: hidden;
    transition: all .3s;
    cursor: pointer;
}

.blog:hover {
    transform: scale(1.3);
}

.blog a {
    display: none;
}

.blog:hover a {
    display: block;
    position: absolute;
    background-color: rgba(204, 204, 204, 0.6);
    color: black;
    font-size: 20pt;
    border-radius: 15px;
    text-align: center;
    padding-top: 110px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.post-one {
    background-image: url('../images/pic-paulo.png');
}

.post-two {
    background-image: url('../images/pic-paulo.png');
}

.post-three {
    background-image: url('../images/pic-paulo.png');
}

 CONTACT PAGE 
form {
    margin: auto;
    margin-bottom: 1em;
    width: 260px;
    height: 300px;
}

input[type=text],
input[type=email],
textarea {
    display: block;
    width: 100%;
    padding: 5px;
    margin-bottom: 1em;
    border: 1px solid var(--header);
    border-radius: 5px;
    box-sizing: border-box;
    resize: vertical;
}

input:focus,
textarea:focus {
    outline: none;
    border: 1px solid var(--selection);
}

button {
    background-color: var(--selection);
    float: right;
    letter-spacing: 2px;
    padding: 12px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

button:hover {
    background-color: var(--menu);
}*/

/* RESPONSIVE DESIGN 
 For mobile phones:  */
html {
    background: var(--background);
}

#body-container {
    width: 100vw;
    height: 100vh;
}

.top-nav {
    width: 100%;
    height: 50px;
    position: absolute;
    bottom: 0;
    z-index: 1;
}

#logo {
    width: 150px;
    height: 26px;
    bottom: 10px;
    z-index: 2;
}

h1 {
    background: var(--button);
    width: 90vw;
    font-size: 14pt;
    letter-spacing: 1.5pt;
    line-height: 1.3em;
    padding: 10px;
    bottom: 13%;
    left: 50%;
    transform: translate(-50%);
}

h2 {
    font-size: 12pt;
    letter-spacing: 1.5pt;
}

#profile-picture {
    width: 90vw;
    aspect-ratio: 1 / 1;
    bottom: 20%;
}

#intro-container {
    padding: 60px 15px 0;
}

.modal-content {
    width: 85%;
}

/*#blog-container {
    flex-direction: column;
}

.blog {
    width: 210px;
    height: 210px;
    margin: 1em auto;
}

p.title {
    top: 30%;
}*/

footer p {
    bottom: 50px;
}

/* For tablets: */
@media only screen and (min-width: 600px) {
    #body-container {
        width: 90vw;
        height: 90vh;
        transform: translateY(5%);
        box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
        border-radius: 2em;
    }

    .top-nav {
        position: static;
        height: 60px;
        border-radius: 2em 2em 0 0;
    }

    #logo {
        width: 250px;
        height: 43px;
        top: 10px;
    }

    #intro-container {
        padding: 15px;
    }

    h1 {
        background: transparent;
        font-size: 18pt;
        letter-spacing: 3pt;
        line-height: 1.5em;
        padding: 5vh 0 0 20px;
        bottom: 20%;
    }

    #profile-picture {
        width: 70vw;
        aspect-ratio: 1 / 1;
        border-radius: 5%;
        bottom: 0;
    }

    /*.blog {
        width: 210px;
        height: 210px;
        margin: 1em auto;
    }

    p.title {
        top: 50%;
    }*/

    footer p {
        bottom: 0;
    }
}

/* For desktops:  */
@media only screen and (min-width: 768px) {
    #profile-picture {
        width: 550px;
        height: 550px;
    }

    .modal-content {
        max-width: 800px;
        width: 70%;
    }

    h1 {
        width: 100%;
    }

    /*#blog-container {
        flex-direction: row;
        max-width: 900px;
        margin: auto;
    }

    .blog {
        width: 210px;
        height: 210px;
    }*/
}

@media only screen and (min-width: 1400px) {

    /* menu */
    ul {
        margin-right: 20px
    }

    li {
        display: inline-block;
        padding: 20px 0;
    }

    nav a {
        color: white;
        font-weight: bold;
        text-decoration: none;
        padding: 20px 35px;
        transition-duration: .5s;
    }

    nav a:hover {
        background-color: var(--selection);
        border-radius: 10px;
        transition-duration: .5s;
        box-shadow: 2px x 5px rgba(0, 0, 0, .7);
    }

    a#selected {
        background-color: var(--button);
        padding: 20px 35px;
        border-radius: 10px;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, .7);
    }

    a#selected:hover {
        background-color: var(--selection);
    }
}