@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

@import url(responsive-style.css);
@import url(menu-style.css);

* {
    padding: 0;
    margin: 0;
    color: rgba(255, 255, 255, 0.87);
    box-sizing: border-box;
}

body {
    background: #325946;
    font-family: 'Raleway', Arial, sans-serif;
    cursor: default;
    display: flex;
    flex-direction: column;
}

.body-container {
    background: #251C19;
    overflow-y: scroll;
}

/* header */
header {
    width: 100%;
    height: 60px;
    background-color: #382f27;
    z-index: 1;
}

/* header > github and linkedin */
.social-media {
    display: flex;
    padding: 8px 20px;
}

.social-media a {
    cursor: default;
    padding-right: 10px;
    z-index: 2;
}

.social-media img {
    cursor: pointer;
    width: 40px;
    filter: brightness(0%) invert(87%);
    transition: .3s;
    border-radius: 50%;
}

.social-media img:hover {
    filter: brightness(100%) invert(0%);
    background-color: rgba(255, 255, 255, 0.6);
    border: 1px solid black;
    box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.8);
    transform: translate(4px, 4px);
    transition: transform 0.2s, border 0.3s;
}

/* main */
main {
    margin: 1.5em;
}

.title {
    padding-bottom: 8pt;
    border-bottom: 1px solid;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    text-align: center;
}

#profile-picture {
    position: absolute;
    background-image: url(../images/pic-paulo.png);
    background-size: contain;
    width: 400px;
    height: 400px;
    bottom: 0;
    left: 50%;
    translate: -50%;
}

/* BLOG PAGE */
.blog-container {
    position: absolute;
    left: 50%;
    translate: -50%;
    display: grid;
    gap: 3em;
    margin: 2em;
}

.post img {
    width: 200px;
    border: 1px solid #382f27;
    border-radius: 15px;
    overflow: hidden;
}

figure {
    transition: all .2s;
}

figure:hover {
    transform: scale(1.3);
}

figcaption {
    display: none;
    padding: 90px 0;
    background-color: rgba(128, 128, 128, 0.596);
    border-radius: 15px;
}

figure:hover figcaption {
    color: black;
    font-weight: bold;
    text-decoration: underline;
    text-align: center;
    display: inline-block;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
}

/* CONTACT PAGE */
form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-bottom: 1em;
    width: 260px;
    height: 300px;
}

input[type=text],
input[type=email],
textarea {
    color: black;
    display: block;
    width: 100%;
    padding: 5px;
    margin-bottom: 1em;
    border: 1px solid #382f27;
    border-radius: 5px;
    box-sizing: border-box;
    resize: vertical;
}

input:focus,
textarea:focus {
    outline: none;
    border: 1px solid #E3A185;
}

button {
    background-color: #E3A185;
    float: right;
    letter-spacing: 2px;
    padding: 12px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

button:hover {
    background-color: #919191;
}

/* footer */
footer p {
    position: sticky;
    background-color: #382f27;
    text-align: center;
    padding: 5px;
    border-radius: 15px 15px 0 0;
}