@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

* {
    margin: 0;
}

::selection {
    color: rgb(50, 50, 50);
    background: #c1ebff;
  }

body {
    font-family: 'Raleway', sans-serif;
    width: 900px;
    margin: auto;
    font-size: 16pt;
    cursor: default;
}

/* HOME PAGE */
/* menu section */
nav {
    background-color: #F5F5F5;
    font-size: 10pt;
    font-weight: bold;
    text-align: right;
}

li {
    display: inline-block;
    padding: 25px 0;
}

nav a {
    color: black;
    text-decoration: none;
    padding: 25px 35px;
    transition-duration: .5s;
}

nav a:hover {
    background-color: #E18A77;
    color: white;
    border-radius: 15px;
    transition-duration: .5s;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.4);
}

a#selected {
    background-color: #E0E0E0;
    padding: 25px 35px;
    border-radius: 15px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
}

a#selected:hover {
    background-color: #E18A77;
    color: white;
}

/* social media pages */
section#social-media {
    position: absolute;
    z-index: 1;
    top: 20px;
}

section#social-media img {
    filter: contrast(0%) brightness(50%);
    width: 40px;
    margin: 10px;
    border-radius: 50%;
    box-sizing: border-box;
    transition-duration: 0.5s;
}

section#social-media img:hover {
    filter: contrast(100%) brightness(100%);
    border: 2px solid rgba(255, 255, 255, 0.4);
    transform: translate(3px, -3px);
    box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.4);
    transition: transform 0.2s, border 0.3s;
}

/* intro section */
.header {
    background-color: #F5F5F5;
    height: 300px;
    border-radius: 0 0 30px 30px;
}

#intro-container {
    display: flex;
    justify-content: space-around;
    align-content: center;
    align-items: center;
}

#intro-container p {
    font-size: 30pt;
    font-weight: bold;
    letter-spacing: 2pt;
    margin-left: 15px;
}

#profile-picture {
    background-image: url('../images/pic-paulo.jpg');
    width: 400px;
    height: 400px;
    filter: grayscale(100%);
    border-radius: 50%;
    transition-duration: .4s;
}

#profile-picture:hover {
    filter: grayscale(0);
    transition-duration: .4s;
}

hr {
    position: relative;
    width: 50%;
    margin: 130px auto 0;
}

/* content section */
#intro-content {
    width: 600px;
    line-height: 1.5em;
    margin: 1.5em auto;
}

h1 {
    font-size: 20pt;
    font-weight: normal;
    text-align: center;
    letter-spacing: 1pt;
    margin: 20pt 0;
}

#intro-content p {
    font-size: 16pt;
    text-align: justify;
    margin: 12pt;
}

blockquote {
    margin: 8pt;
    text-align: center;
    font-weight: bold;
    font-style: italic;
}

footer p {
    background-color: #F5F5F5;
    text-align: center;
    border-radius: 15px 15px 0 0;
}

/* OTHER PAGES */
#about-container, #portfolio-container, #blog-container {
    margin: 30px;
}

p.title {
    font-size: 30pt;
    font-weight: bold;
    position: relative;
    text-align: center;
    top: 50%;
}

/* ABOUT ME PAGE */
#about-container p {
    line-height: 1.5em;
    text-align: justify;
    margin-bottom: 6pt;
}

/* PORTFOLIO PAGE */

/* BLOG PAGE */
#blog-container {
    display: flex;
    justify-content: space-around;
    margin: 30px 0;
}

.blog {
    width: 250px;
    height: 250px;
    background-size: cover;
    border: 1px solid #ccc;
    border-radius: 15px;
    overflow: hidden;
    transition: all .3s;
    cursor: pointer;
}

.blog:hover {
    transform: scale(1.3);
}

.blog a {
    display: none;
}

.blog:hover a {
    display: block;
    position: absolute;
    background-color: rgba(204, 204, 204, 0.5);
    color: white;
    font-size: 20pt;
    border-radius: 15px;
    text-align: center;
    padding-top: 110px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.post-one {
    background-image: url('../images/pic-paulo.jpg');
}

.post-two {
    background-image: url('../images/pic-paulo.jpg');
}

.post-three {
    background-image: url('../images/pic-paulo.jpg');
}

/* CONTACT PAGE */
form {
    margin: 80px auto;
    width: 260px;
    height: 300px;
}

input[type=text],
input[type=email],
textarea {
    display: block;
    width: 100%;
    line-height: 1.5em;
    padding: 5px;
    margin-bottom: 2em;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    resize: vertical;
}

input:focus,
textarea:focus {
    outline: none;
    border: 1px solid #E18A77;
}

button {
    background-color: #E18A77;
    float: right;
    color: white;
    letter-spacing: 2px;
    padding: 12px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

button:hover {
    background-color: #D9736A;
}